body {
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 175%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-title-box {
    padding: 40px;
    text-align: center;
}

.borderline {
    border: 1px solid #000000;
}

.content-box {
    width: 100%;
    padding: 0 1%;
}

.category-box {
    background-color: #c2c2c2;
    padding: 20px;
    margin: 1%;
    position: relative;
}

.title-box-one, .title-box-two, .title-box-three {
    text-align: center;
    padding: 5px;
    width: 200px;
    position: absolute;
    top: -1px;
    right: -1px;
}

.context-box {
    margin-top: 40px;
    line-height: 1.5em;
    text-align: justify;
}

.title-box-one {
    color: #183A5C;
    background-color: #D59898;
}

.title-box-two {
    color: #ffffff;
    background-color: #C14543;
}

.title-box-three {
    color: #704924;
    background-color: #E5D198;
}

@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12
    {
      float: left;
    }

    .col-lg-1 { width: 8.33%; }
    .col-lg-2 { width: 16.66%; }
    .col-lg-3 { width: 25%; }
    .col-lg-4 { width: 31.33%; }
    .col-lg-5 { width: 41.66%; }
    .col-lg-6 { width: 50%; }
    .col-lg-7 { width: 58.33%; }
    .col-lg-8 { width: 66.66%; }
    .col-lg-9 { width: 74.99%; }
    .col-lg-10 { width: 83.33%; }
    .col-lg-11 { width: 91.66%; }
    .col-lg-12 { width: 100%; }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
    {
        float: left;
    }

    .col-md-1 { width: 8.33%; }
    .col-md-2 { width: 16.66%; }
    .col-md-3 { width: 25%; }
    .col-md-4 { width: 33.33%; }
    .col-md-5 { width: 41.66%; }
    .col-md-6 { width: 47%; }
    .col-md-7 { width: 58.33%; }
    .col-md-8 { width: 66.66%; }
    .col-md-9 { width: 74.99%; }
    .col-md-10 { width: 83.33%; }
    .col-md-11 { width: 91.66%; }
    .col-md-12 { width: 97%; }

    .content-box {
        padding: 0 1.5%;
    }

    .category-box {
        margin: 1.5%;
    }

    .head-title-box {
        margin: 0 1.5%;
        padding: 30px;
    }
}

@media (max-width: 767px) {
    .col-sm-12 { width: 80%; }

    .category-box {
        margin: 20px 10%;
    }

    .head-title-box {
        margin: 20px 10% 0 10%;
        padding: 20px;
    }
}